.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.box-red {
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: 5px;
	background-color: red;
	color: white;
}

.box-blue {
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: 5px;
	background-color: blue;
	color: white;
}

.box-green {
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: 5px;
	background-color: green;
	color: white;
}

.kontak {
	background-color: aquamarine;
	padding-bottom: 25px;
	margin: 50px;
	border-radius: 15px;
	border: 2px red solid;
	height: 200px;
}

.kontak b {
	background: linear-gradient(90deg, red 50%, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 35px;
}

.kontak img:hover {
	width: 125px;
}